body {
  background-image: url("./waves.jpg");
  background-size: cover;
}
.box {
  display: flex;
  width: 1500px;
  align-self: stretch;
  align-items: center;
  column-gap: 8em;
}

.boxSignLog {
  display: flex;
  width: 1500px;
  align-self: stretch;
  align-items: center;
  column-gap: 15em;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2em;
}

.loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3em;
}

.App {
  column-gap: 2em;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.App-logo {
  height:60vmin;
  display: flex;
  align-self: stretch;
  align-items: center;
  pointer-events: none;
}

.homebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5em;
}

.homeoptionsbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15em;
}

.welcome-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6em;
}

.welcome-backtext
{
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 1em;
}

.hotel-buton
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo-sign-owner {
  height:60vmin;
  display: flex;
  margin-top: 7em;
  align-self: stretch;
  align-items: center;
  pointer-events: none;
}

.welcome {
  margin-top: 20vmin;
  font-size: 2.5rem;
  text-align: left;
}

.description {
  font-size:xx-large;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
